<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.creativediligence.champsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Helper_Starter"
        android:allowBackup="true"
        android:icon="@drawable/nichesports"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nichesports"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Activity_AthleteProfile2"></activity>
        <activity android:name=".Activity_GraphData" />
        <activity android:name=".Activity_AthleteProfile" />
        <activity android:name=".Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_AllSports" />
        <activity android:name=".Activity_Common_AllSports" />
        <activity android:name=".Activity_Common_SportsEventOverview" />
        <activity android:name=".Activity_SubEvents" />
        <activity android:name=".Activity_TeamsInstitution" />
        <activity android:name=".Activity_Athletes" />
        <activity android:name=".Activity_AthleteCoachDetails" />
        <activity android:name=".Activity_PointsStanding" />
        <activity android:name=".Activity_Coaches" />
        <activity android:name=".Activity_Bracket" />
        <activity android:name=".Activity_Calendar" />
        <activity android:name=".Activity_Login" />
        <activity android:name=".VideoHighlightsActivity" />
        <activity
            android:name=".Activity_HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity_Chat" />
    </application>

</manifest>